.sm-inner-margin {
    margin-left: 2rem;
}

button {
    color: initial;
}

.table-inverse {
    background-color: rgba(255, 0, 0, 0);
}

td.no-top-border {
    border-top: 0;
}

.orange-header {
    border-bottom-color: black;
}

.flat-butt {
    display: inline-block;
    padding: 0.5rem;
    top: 0;
    border: 0;
    background: #291607;
    color: #ff7100;
    cursor: pointer;
    outline: 0;
}

.flat-butt:hover {
    background: #ff7100;
    color: #291607;
}

.overflowed {
    overflow-y: scroll;
}

.list-wrapper {
    max-height: 15rem;
}

.small-center-header {
    line-height: 40px;
    text-align: center;
    height: 24px;
}

.modal-background {
    background-color: transparent;
    background: url("../assets/drawables/ship-backdrop.png");
}

.modal-footer {
    border-top-color: black;
}

a.list-group-item-inverted {
    color: #ff7100;
    background-color: #291607;
    border-color: #291607;
}

a.list-group-item-inverted:hover {
    color: #291607;
    background-color: #ff7100;
}

a.list-group-item-inverted:hover .flat-butt {
    background: #ff7100;
    color: #291607;
}

a.list-group-item-inverted button {
    margin-top: -0.5rem;
}