body {
    background: #2b2b2b;
}

#header h1 {
    font-size: 4rem;
    padding: 1.1rem;
    color: #f1921a;
}

#sidebar-column {
    opacity: 0.9;
}

#content-column {
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    color: #e5e7e8;
    background: #3b3b3b;
}

#group-one-column {
    border: 2px solid #656e75;
}

#group-two-column {
    border: 2px solid #656e75;
}

.row {
    margin: 0;
}

.red {
    color: red;
}

.sidebar-nav {
    list-style: none;
    padding: 0rem;
}

.sidebar-nav li {
    text-indent: 1.1rem;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover{
    background: #31708f;
}